@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;700&family=Urbanist:wght@300;400;500;700&display=swap');
body{
  
  font-family: 'Poppins',sans-serif;
}
.wrapper{
  padding: 20px;
}
.name{
  font-size: 24px;
  font-weight: 700;
  color: darkblue;
}
.label{
  font-size: 18px;
  font-weight: 600;
  color: darkblue;
  margin-top: 15px;
}
.label_content{
  font-size: 12x;
  font-weight: 400;
  color: black;
  margin-top: 5px;
}
.portfolio_label{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: darkblue;
}
.app_title{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: darkblue;
}
.images_div{
  margin-top: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  border-radius: 10px;
}
.img_height{
  height: 400px;
}
hr{
  margin-top: 25px;
  border-style:none;
  border-top: 5px dotted darkblue;
  width: 20%;
}